body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
}

.body-main3 {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #9d8b84;
}

.body-main2 {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #8996a6;
}

.body-main {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #849d8f;
}

.body-catalog {
  background-color: #94aa9e;
}

/*Базовая стилизация Header*/

.main-header__navigation {
  line-height: 18px;
  color: #ffffff;
}

.main-header__info-list,
.main-header__user-navigation {
  list-style: none;
}

.main-header__info-list a,
.main-header__user-navigation a {
  color: #ffffff;
}

.info__list-item-link {
  padding: 6px 13px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
}

.main-header__info-list .info__list-item-link:hover {
  background-color: #ffffff;
  color: black;
  border-radius: 25px;
  padding: 6px 13px;
  text-decoration-color: transparent;
}

.item-link-catalog {
  background-color: rgb(208, 112, 88);
  margin: 0;
  padding: 6px 13px;
  border-radius: 25px;
}

.info__list-item-link,
.hits__text-link,
.text__link {
  text-decoration-color: rgba(255, 255, 255, 0.5);
}
.hits__text-link {
  text-align: center;
  display: block;
}
.text__link {
  text-align: center;
  display: block;
}
.main-header__info-list .info__list-item-link:active,
.main-header__info-list .info__list-item-link:focus {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
  text-decoration-color: transparent;
  color: black;
}

.header-catalog-list {
  list-style: none;
  background-color: #f8f7f4;
  width: 142px;
  border-radius: 5px;
  padding-left: 0;
  z-index: 2;
}

.catalog-list__item .catalog__list-link {
  text-decoration: none;
  color: black;
  font-weight: 100;
  display: block;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 21px;
}

.catalog-list__item .list-link--new {
  display: block;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 11px;
  padding-left: 14px;
}

.list-link--creamy {
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.list-link--new:first-child {
  border-bottom: 1px solid #ebeae7;
  margin-left: 9px;
  margin-right: 9px;
}

.catalog-list__item:hover {
  background-color: #fbded7;
  color: black;
}

.catalog-list__item:first-child:hover {
  background-color: #fbded7;
  color: black;
  border-radius: 5px 5px 0 0;
}

.catalog-list__item:first-child:active {
  background-color: #f6b5a5;
  color: black;
  border-radius: 5px 5px 0 0;
}

.catalog-list__item:first-child:focus {
  background-color: #d07058;
  color: black;
  border-radius: 5px 5px 0 0;
}

.catalog-list__item:active {
  background-color: #f6b5a5;
  color: black;
}

.catalog-list__item:focus {
  background-color: #d07058;
  color: black;
}

.catalog-list__item:last-child:hover {
  background-color: #fbded7;
  color: black;
  border-radius: 0 0 5px 5px;
}

.catalog-list__item:last-child:active {
  background-color: #f6b5a5;
  color: black;
  border-radius: 0 0 5px 5px;
}

.catalog-list__item:last-child:focus {
  background-color: #d07058;
  color: black;
  border-radius: 0 0 5px 5px;
}

.main-header__user-navigation {
  font-size: 14px;
  line-height: 16px;
}

.user-navigation__basket {
  margin-left: -31px;
  padding-bottom: 28px;
}

.user-navigation__basket-index {
  padding-bottom: 18px;
}

.user-navigation__login {
  margin-left: 13px;
  padding-bottom: 16px;
}

.user-navigation__item .basket-full {
  background-color: #f8f7f4;
  color: black;
  border-radius: 25px;
}

.login-form {
  background-color: #f8f7f4;
  max-width: 278px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.login-form__sub {
  display: flex;
}

.login-form__link-wrap {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-top: -1px;
}

.login-form .login-form__sub-link {
  font-size: 13px;
  line-height: 24px;
  color: black;
  margin-bottom: -2px;
}

.login-form .login-form__sub-link:hover {
  color: #f0887a;
}

.login-form .login-form__sub-link:active {
  color: #f0887a;
}

.mode__text-graph {
  font-size: 14px;
  line-height: 16px;
}

.mode__text-tel {
  font-size: 22px;
  line-height: 24px;
}

.user-navigation__item {
  position: relative;
}

.button__search-svg {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 6px;
}

.button__search-svg:hover {
  background-color: white;
}

.button__search-svg:hover path {
  fill: black;
}

.button__login {
  display: block;
  width: 92px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  margin-right: 40px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 0px;
  margin-left: -4px;
  margin-top: 2px;
}

.button__login:hover {
  background-color: white;
  color: black;
}

.button__login path {
  fill: white;
}

.button__login:hover path {
  fill: black;
}

.login-text {
  vertical-align: top;
  display: inline-block;
  margin-left: 43px;
  margin-top: 2px;
}

.button__login-text {
  display: block;
  margin-left: -24px;
}

.login__svg {
  margin-right: -40px;
  margin-left: 17px;
}

.button__basket {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 43px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 25px;
  display: block;
  text-decoration: none;
  margin-top: 5px;
}

.button__basket:hover {
  color: black;
  background-color: white;
}

.basket-text {
  display: block;
  width: 99px;
  margin-right: -63px;
  border-radius: 25px;
}

.basket-text:hover {
  color: black;
}

.basket-text::before {
  content: "";
  background-image: url(../img/svg/busket.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 13px;
  top: 11px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.user-navigation__item.user-navigation__item-index {
  margin-left: -33px;
}

.button__basket:hover .basket-text::before {
  content: "";
  background-image: url(../img/svg/busketred.svg);
}

.basket-text__full::before {
  content: "";
  background-image: url(../img/svg/busketred.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: -5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.basket-full {
  background-color: white;
  padding-left: 43px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 10px;
  border-radius: 25px;
  text-decoration: none;
}

/*Базовая стилизация полей ввода*/

.form-search {
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  width: 340px;
  height: 84px;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  min-height: 42px;
  border: none;
  border-radius: 5px;
  /* padding: 15px auto 12px 15px;*/
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
  padding-left: 13px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #b4d3f2;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

/*Базовая стилизация полей ввода close*/

/*basket*/

.basket-popup {
  background-color: #f8f7f4;
  box-sizing: border-box;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  max-height: 244px;
  max-width: 540px;
  color: black;
  font-size: 13px;
  line-height: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 10px;
}

.basket-popup__table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 11px;
  padding-right: 13px;
  border-bottom: 1px solid #e9e8e5;
  margin-bottom: 14px;
}

.basket-popup__string {
  height: 45px;
}

.basket-popup__cell-del {
  width: 21px;
}

.basket-popup__cell__img-orange {
  width: 39px;
}

.basket-popup__cell--name {
  width: 243px;
}

.basket-popup__cell--weight {
  width: 118px;
}

.basket-popup__cell--price {
  width: 76px;
}

.basket-popup__cell a {
  color: black;
  display: block;
  text-decoration: none;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.basket-popup__cell span {
  color: #8ba596;
}

/*.basket-popup__cell__img-orange {
  padding-left: 2px;
}*/

.basket-popup__cell__img-orange a {
  background-image: url(../img/orangemini.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 33px;
  height: 33px;
  display: block;
  margin-left: -4px;
}

.basket-popup__cell-img-strawberry a {
  background-image: url(../img/strawberrymini.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 33px;
  height: 33px;
  display: block;
  margin-left: -4px;
}

.total-price {
  margin-bottom: 14px;
  text-align: right;
}

.cell-name-link {
  margin-bottom: 3px;
  margin-left: -2px;
}

.string-second .basket-popup__cell-del {
  padding-top: 4px;
}

.basket-popup__cell-img-strawberry {
  padding-top: 0;
}

.basket-popup__cell--name2 {
  padding-top: 20px;
}

.basket-popup__cell--weight {
  padding-right: 12px;
}

/*basket close*/

/*Базовая стилизация Header close*/

/*Базовая стилизация кнопок*/

.button {
  background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
  border: none;
  font: inherit;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-image: linear-gradient( 90deg, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
}

.button:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: 0 2px 2px 0 rgba(148, 39, 24, 0.004);
  outline: none;
}

.button__subscription {
  margin: 0;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 11px;
  padding-bottom: 13px;
  padding-top: 10px;
  min-width: 128px;
}

.button__feedback {
  margin: 0;
  padding: 0;
  min-width: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  padding-right: 28px;
  padding-left: 27px;
}

.button__slider {
  border: none;
  font: inherit;
  color: white;
  cursor: pointer;
  background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button__slider:hover {
  background-image: linear-gradient( 90deg, rgb(236, 111, 94) 0%, rgb(245, 134, 105) 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
}

.button__slider:active {
  background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
  outline: none;
}

button.button__login {
  padding: 10px 52px;
  margin-bottom: 21px;
}

button.button__login:hover {
  color: white;
}

.button__basket-order {
  margin-left: 339px;
  padding: 11px 11px;
  padding-right: 18px;
  max-width: 170px;
  margin-bottom: 19px;
}

.button__feedback-popup {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 291px;
  padding: 13px 0px;
}

/*Базовая стилизация кнопок close*/

/*Слайдер*/

.slider .slider__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  /*position: absolute;
  left: 267px;
  top: 220px;*/
  max-width: 670px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 214px;
  padding-left: 237px;
}

/*Слайдер close*/

/*Базовая стилизация main*/

.index-columns .title2 {
  font-size: 35px;
  line-height: 41px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.index-columns p {
  font-size: 18px;
  line-height: 22px;
}

.raspberries {
  background-color: #74233a;
  background-image: url(../img/raspberryfree.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  padding-top: 17px
}

.raspberries .title2 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.chocolate {
  background-color: #391e0f;
  background-image: url(../img/chockolatefree.jpg);
  background-repeat: no-repeat;
  width: 560px;
  height: 230px;
  border-radius: 17px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  padding-top: 17px
}

.chocolate .title2 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.special-offers p {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.button__raspberries {
  margin: 0;
  margin-left: 355px;
  padding: 13px 23px;
  text-decoration: none;
}

.button__chocolate {
  margin: 0;
  margin-left: 331px;
  padding: 13px 23px;
  text-decoration: none;
}

.catalog-hits a,
.catalog a {
  color: white;
}

.catalog-hits__list,
.catalog__list {
  list-style: none;
  position: relative;
}

.catalog-hits__price,
.catalog__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.price__measure {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  margin-left: -7px;
}

.catalog-hits__item,
.catalog__item {
  position: relative;
  width: 267px;
  cursor: pointer;
}

.catalog-hits__item::before {
  content: "";
  background-image: url(../img/svg/hit.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 61px;
  height: 61px;
  top: 0;
  left: 1px;
  z-index: 2;
}

.catalog-bg {
  background-color: rgba(248, 247, 244, 0.2);
  position: absolute;
  left: -13px;
  top: -7px;
  box-sizing: border-box;
  width: 292px;
  height: 408px;
  border-radius: 5px;
  background-position: 50% 50%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

.catalog-hits__item:hover .catalog-bg,
.catalog__item:hover .catalog-bg {
  display: block;
  z-index: 1;
}

.catalog-hits__button,
.catalog__button {
  padding-left: 19px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: absolute;
  left: 29px;
  top: 334px;
  display: none;
  text-decoration: none;
}

.catalog-hits__item:hover .catalog-hits__button,
.catalog__item:hover .catalog__button {
  display: block;
  z-index: 3;
}

.advantages {
  background-color: #eadcc1;
  background-image: url(../img/wafer.jpg);
  background-repeat: repeat;
  width: 1146px;
  min-height: 308px;
  border-radius: 17px;
  padding: 0;
  margin: 0;
}

.advantages__title,
.blog-new__link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #323232;
  padding: 0;
  margin: 0;
}

.advantages__title {
  margin-top: -2px;
  margin-bottom: 23px;
}

.advantages__technology,
.advantages__delivery {
  color: #323232;
  font-weight: 100;
  width: 541px;
  position: relative;
}

.advantages__image-icecream,
.advantages__image-sheet {
  margin: 0;
  padding: 0;
  margin-left: 56px;
  position: relative;
}

.advantages__image-cow,
.advantages__image-fridge {
  margin: 0;
  padding: 0;
  margin-left: 65px;
  position: relative;
}

.advantages__image-icecream,
.advantages__image-cow {
  padding-bottom: 22px;
}

.advantages__image-icecream::before {
  content: "";
  background-image: url(../img/svg/icecream.svg);
  background-repeat: no-repeat;

  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: -55px;
}

.advantages__image-sheet::before {
  content: "";
  background-image: url(../img/svg/sheet.svg);
  background-repeat: no-repeat;

  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -55px;
}

.advantages__image-cow::before {
  content: "";
  background-image: url(../img/svg/cow.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: -58px;
}

.advantages__image-fridge::before {
  content: "";
  background-image: url(../img/svg/thermometer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 49px;
  height: 49px;
  top: -15px;
  left: -58px;
}

.blog-new {
  background-color: white;
  background-image: url(../img/10ways.jpg);
  background-repeat: no-repeat;
  border-radius: 17px;
  color: black;
  width: 560px;
  min-height: 221px;
}

.blog-new__link {
  font-weight: 700;
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 508px;
}

.subscription__form {
  margin-top: 34px;
}

.subscription__input {
  width: 352px;
}

.blog-new,
.subscription,
.blog-new__title,
.subscription p {
  margin: 0;
  padding: 0;
}

.blog-new {
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 20px;
}

.blog-new__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 4px;
}

.blog-new__link {
  display: block;
  width: 281px;
}

.subscription {
  box-sizing: border-box;
  background-color: #f8f7f4;
  background-image: url(../img/subscriptionbg.jpg);
  background-repeat: no-repeat;
  border-radius: 17px;
  color: #5a5a5a;
  width: 560px;
  min-height: 221px;
  font-weight: 100;
  padding-left: 28px;
  padding-top: 34px;
}

.map__image img {
  width: 100%;
}

.feedback {
  box-sizing: border-box;
  background-color: #fdfefe;
  border-radius: 10px;
  width: 302px;
  height: 305px;
  color: #323232;
  padding-top: 16px;
  padding-left: 26px;
}

.feedback__adress {
  width: 151px;
  margin-bottom: -17px;
}

.feedback__street {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 228px;
  margin-bottom: 18px;
}

.feedback__adress,
.feedback__tel {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  max-width: 176px;
}

.feedback__tel {
  margin-bottom: -8px;
}

.feedback__tel strong {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.feedback__time {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 33px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item a {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  margin-left: 2px;
}

.breadcrumbs__item a:hover {
  color: #f0887a;
}

.breadcrumbs__item a:hover {
  color: #f0887a;
}

.breadcrumbs__item--current {
  color: white;
  font-size: 14px;
  font-weight: 100;
  margin-top: 2px;
  padding-left: 2px;
}

.breadcrumbs__item:after {
  content: "»";
  margin-right: 4px;
  margin-left: 5px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__item {
  margin-left: -2px;
}

/*Базовая стилизация фильтров*/

.sorting-label,
.filters__range-title,
.fat-title,
.fillers-title,
.button__form {
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
  color: white;
}

.sorting-label {
  margin: 0;
  padding: 0;
  margin-left: 19px;
  margin-bottom: 0px;
}

.filters__range-title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  margin-left: 19px;
}

.filters ul {
  list-style: none;
}

.radio__label,
.checkbox__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
}

.filters__button .button__form {
  background-color: rgba(255, 255, 255, 0.188);
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  padding: 9px 34px;
}

.filters__button .button__form:hover {
  color: black;
  background-color: white;
}

.filters__button .button__form:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
  color: black;
  outline: none;
}

.sorting__list:hover {

  color: black;
  cursor: pointer;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 169px center;
}

.sorting__list {
  border: none;
  background-color: #a9bab0;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 100;
  font: inherit;
  border-radius: 25px;
  padding: 7px 8px;
  padding-left: 12px;
  padding-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 34px;
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: 169px center;
}
.sorting__list .sorting__list__item {
background-color: white;
color: black;
}
.sorting__list::-ms-expand {
  display: none;
}

.filters__range-input {
  background-color: #a9bab0;
  border-radius: 5px;
}

.form-search__input {
  padding: 17px auto 17px 15px;
  width: 295px;
}

.fat-radio__list {
  background-color: #a9bab0;
  border-radius: 5px;
}

.fat-radio {
  margin-left: 15px;
}

.fat-item {
  margin: 0;
  padding: 0;
  margin-right: 9px;
  margin-bottom: 5px;
  margin-top: 3px;
}

.fat-itemfirst {
  margin-left: -2px;
}

.fat-itemsecond {
  margin-left: 3px;
}

.fat-itemthird {
  margin-left: 2px;
}

.fat-itemfourth {
  margin-left: 3px;
}

/*Декорирование кнопок слайдера*/

.slider__label {
  position: relative;
  cursor: pointer;
}

.slider__label input[type="radio"]+.slider-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
}

.slider__label input[type="radio"]:checked+.slider-indicator::before {
  content: "";
  position: absolute;
  top: center;
  left: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.slider__label input[type="radio"]:hover+.slider-indicator {
  background-color: rgba(255, 255, 255, 0.3);
}
.slider__label input[type="radio"]:active+.slider-indicator {
  background-color: rgba(255, 255, 255, 1);
}
.slider__radio {
  position: absolute;
  top: 428px;
  left: -15px;
}

/*Декорирование кнопок слайдера close*/

/*Декорирование радиобаттонов*/

.fat-title {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  margin-left: 18px;
}

.radio__label {
  position: relative;
  cursor: pointer;
  padding-left: 38px;
}

.radio__label input[type="radio"]+.radio-indicator {
  position: absolute;
  top: -2px;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
}

.radio__label input[type="radio"]:focus+.radio-indicator,
.radio__label input[type="radio"]:hover+.radio-indicator {
  border-color: rgba(255, 255, 255, 1);
  outline: #8996a6;
}

.radio__label input[type="radio"]:checked+.radio-indicator::before,
.radio__label input[type="radio"]:checked+.radio-indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: white;
}
.radio__label input[type="radio"]:disabled+.radio-indicator {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.radio__label:hover,
.radio__label:focus {
  border-color: rgba(255, 255, 255, 1);
}

/*Декорирование радиобаттонов close*/

/*Декорирование чекбоксов*/


.checkbox__label {
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}

.checkbox__label input[type="checkbox"]+.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 5px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.checkbox__label input[type="checkbox"]:focus+.checkbox-indicator,
.checkbox__label input[type="checkbox"]:hover+.checkbox-indicator {
  border-color: rgba(255, 255, 255, 1);
}

.checkbox__label input[type="checkbox"]:checked+.checkbox-indicator::before,
.checkbox__label input[type="checkbox"]:checked+.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  width: 23px;
  height: 20px;
  background-image: url(../img/svg/checkbox-onn.svg);
}

.fillers-item {
  margin: 0;
  margin-right: 17px;
  margin-bottom: 5px;
}

.fillers-itemfirst {
  margin-left: -27px;
}

.fillers-itemfourth {
  margin-left: 6px;
}

.fillers-title {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 5px;
}

.filters__checkboxes {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

/*Декорирование чекбоксов close*/

.fillers-checkbox__list {
  background-color: #a9bab0;
  border-radius: 5px;
}

/*Декорирование ползунков*/

.filters__range-title {
  margin-bottom: 5px;
  margin-left: 19px;
}

.range-controls {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: 8px;
  max-width: 218px;
  background-color: black;
  border-radius: 50%;
}

.range-controls .scale {
  position: absolute;
  top: 16px;
  left: 14px;
  height: 4px;
  width: 176px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar1 {
  position: absolute;
  height: 4px;
  width: 30px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 38px;
  height: 4px;
  width: 55%;
  background: rgba(255, 255, 255, 1);
}

.range-toggle {
  position: absolute;
  top: 7px;
  width: 4px;
  height: 4px;
  background: #b4b4b4;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 30px;
}

.range-toggle-max {
  left: 128px;
}

/*Декорирование ползунков close*/

/*Базовая стилизация фильтров close*/

/*Pagination*/

.pagination-list {
  list-style: none;
}

.pagination-list a {
  text-decoration: none;
}

.pagination-item.another-page a {
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.pagination-item a {
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  margin-top: -5px;
  box-sizing: border-box;
  padding-top: 4px;
  color: white;
}

.pagination-item.pagination-item-current a {
  color: black;
  text-align: center;
  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
  margin-top: -5px;
  box-sizing: border-box;
  padding-top: 3px;
}

.pagination-item a:hover {
  color: white;
  text-align: center;
  background-color: #9db1a5;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: block;
}


.pagination-item a:hover {
  color: white;
}

.pagination-item a:active {
  color: black;
  background-color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.pagination-item-current a:hover{
  background-color: white;
  color: black;
}
.pagination__back-link {
  background-image: url("../img/back.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 15px;
  background-position: 6px 7px;
}

.pagination__forw-link {
  background-image: url("../img/forw.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 15px;
  background-position: 15px 7px;
}

.pagination-item-back .pagination__back-link:hover {
  background-color: transparent;
  cursor: default;
}

.another-page .pagination__forw-link:hover {
  background-color: transparent;
}

/*Pagination close*/

/*Базовая стилизация main close*/

/*Базовая стилизация footer*/

.social__list {
  list-style: none;
}

.social__item-tw {
  display: block;
  background-image: url(../img/svg/twitter.svg);
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.social__item-insta {
  display: block;
  background-image: url(../img/svg/insta.svg);
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.social__item-fb {
  display: block;
  background-image: url(../img/svg/fb.svg);
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.social__item-vk {
  display: block;
  background-image: url(../img/svg/vk.svg);
  width: 32px;
  height: 32px;
  opacity: 0.8;
}

.social__item a:hover {
  opacity: 1;
}
.social__item a:active {
  opacity: 0.9;
}
.social__item a {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
}

.aboutus a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 100;
  color: white;
  display: block;
}
.html-link {
  display: block;
  text-decoration: none;
}
.produced a,
.produced p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  color: white;
}

.aboutus a:hover,
.produced a:hover {
  color: #f0887a;
}

.aboutus a:active,
.produced a:active {
  color: #f0887a;
}

.aboutus-production {
  position: relative;
  margin-left: 22px;
  margin-top: 2px;
}

.aboutus__heart {
  margin-bottom: 4px;
}
.aboutus__heart--text {
  font-weight: 700;
}

.aboutus__heart::before {
  content: "";
  background-image: url(../img/svg/heart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 15px;
  height: 13px;
  position: absolute;
  left: -20px;
  top: 4px;
}

/*Базовая стилизация footer close*/

/*Базовая стилизация popup-feedback*/

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 19;
}

.popup-feedback {
  background-color: #f8f7f4;
  width: 480px;
  height: auto;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  position: fixed;
  display: block;
  top: 100px;
  left: 50%;
  margin-left: -240px;
  z-index: 20;
  animation: bounce 0.6s;
}

.feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.popup-feedback__wrap {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  padding-left: 23px;
  padding-right: 25px;
}

.popup-feedback__input {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.popup-feedback__textarea {
  margin: 0;
  padding: 0;
  max-width: 413px;
}

.feedback-name,
.feedback-email {
  margin-bottom: 21px;
  width: 255px;
}

.feedback-text {
  width: 100%;
  margin-bottom: 15px;
  min-height: 146px;
  padding-top: 12px;
}

button.button__close {
  position: absolute;
  width: 0px;
  height: 0px;
  border: none;
  font: inherit;
  font-size: 0;
  background-color: transparent;
  left: -519px;
}

.button__close::before {
  content: "";
  position: absolute;
  background-image: url(../img/svg/close.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  left: 966px;
  top: -2px;
  cursor: pointer;
}

/*Базовая стилизация popup-feedback close*/

/* visually-hidden*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* visually-hidden close*/

/*Сетки*/

/*Хедер сетки*/

.main-header {
  min-height: 115px;
}

.catalog-header {
  margin-bottom: -14px;
}

.nav-wrap {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  display: flex;
  justify-content: flex-start;
}

.main-header__navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.main-header__logo {
  width: 157px;
  height: 67px;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-right: 21px;
}

.main-header__info-list {
  margin: 0;
  padding: 0;
  padding-top: 34px;
  min-width: 351px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info__list-item--catalog.info__list-item--catalog-page {
  margin-left: -12px;
}

.info__list-item--catalog-page a {
  text-decoration: none;
}

.info__list-item--catalog {
  margin-left: -12px;
}

.main-header__user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  min-width: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -10px;
}

.mode__text-wrapper {
  width: 1146px;
  margin: 0;
  margin: 0 auto;
  padding: 0 27px;
}

.mode__text-wrapper--catalog {
  margin-top: -5px;
}

.main-header__mode-index {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mode__text-wrapper .container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-top: 27px;
}

.main-header__mode.mode__text {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.mode__text-graph {
  align-self: flex-end;
  margin-bottom: 4px;
}

/*Хедер сетки close*/

.slider {
  width: 1146px;
  margin: 0;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 40px;
}

.button__slider {
  margin: 0;
  margin-top: -30px;
  margin-left: 436px;
}

.slider__button-list {
  list-style: none;
  display: flex;
}

.slider__button-item {
  margin-right: 30px;
}

/*Сетки main*/

/*этот container не работает в IE*/

.slider__container {
  width: 1146px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
  display: block;
}

.slider__bg3 {
  position: absolute;
  background-image: url(../img/straw.png);
  top: -25%;
  left: 7%;
  width: 1045px;
  height: 881px;
  z-index: -1;
  display: block;
}

.slider__bg2 {
  position: absolute;
  background-image: url(../img/plombir.png);
  top: -25%;
  left: 7%;
  width: 1045px;
  height: 881px;
  z-index: -1;
  display: block;
}

.slider__bg {
  position: absolute;
  background-image: url(../img/Cremebrulee.png);
  top: -25%;
  left: 7%;
  width: 1045px;
  height: 881px;
  z-index: -1;
  display: block;
}

main.container {
  width: 1146px;
  margin: 0;
  margin: 0 auto;
  padding: 0 27px;
  margin-top: 40px;
  display: block;
}

.index-columns {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.special-offers {
  margin-bottom: 40px;
}

.catalog-hits__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.catalog-hits__item {
  margin: 0;
  padding: 0;
  margin-right: 26px;
  margin-bottom: 38px;
}
.catalog-hits__item:nth-child(4n) {
  margin-right: 0;
}
.catalog-hits {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.catalog-hits__item,
.catalog__item {
  position: relative;
}

.price {
  position: absolute;
  top: 164px;
}

.catalog-item__name {
  margin-top: 7px;
  text-align: center;
}

.catalog-item__name--cowberry {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-item__name--vanilla {
  margin-left: auto;
  margin-right: auto;
  max-width: 180px;
}

.advantages {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 38px;
}


.advantages__cont {
  display: flex;
}

.advantages__delivery {
  margin-left: 17px;
}

.other-info {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.container-map {
  width: 1200px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.map {
  position: relative;
  padding: 0;
  margin: 0;
}

.feedback {
  position: absolute;
  top: 62px;
  right: 27px;
}

.main-inner.container {
  width: 1146px;
  margin: 0;
  margin: 0 auto;
  padding: 0 27px;
  margin-bottom: 39px;
}

.main-inner.container::after {
  content: "";
  position: absolute;
  top: 1546px;

  background-color: rgba(255, 255, 255, 0.3);
  width: 1146px;
  height: 1px;
}

.filter {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.filters__select {
  margin: 0;
  padding: 0;
  width: 195px;
  margin-top: -4px;
}

.filters__range {
  margin: 0;
  padding: 0;
  width: 220px;
  margin-left: 12px;
}

.range-wrap {
  height: 36px;
  max-width: 220px;
  background-color: #a9bab0;
  border-radius: 25px;
}

.fat-radio__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 415px;
  padding: 0px 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 9px;
  border-radius: 20px;
}

.fillers-checkbox__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 704px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-right: 3px;
  border-radius: 18px;
}

.filters__button {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  margin-left: 17px;
}

.filters {
  margin-bottom: 41px;
}

.catalog {
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin: 0;
  padding: 0;
  margin-right: 26px;
  margin-bottom: 38px;
}
.catalog__item:nth-child(4n){
  margin-right: 0;
}
.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 196px;
  margin-left: auto;
}

.pagination-item {
  margin: 0;
  padding: 0;
  margin-right: 3px;
  padding-bottom: 9px;
}
.pagination-item:nth-child(7n) {
  margin-right: -24px;
}
.pagination {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/*Сетки main close*/

/*Сетки footer*/

.main-footer {
  min-height: 102px;
}

.main-footer .container {
  width: 1146px;
  margin: 0;
  margin: 0 auto;
  padding: 0 27px;
  display: flex;
  align-items: center;
}

.social__list {
  margin: 0;
  padding: 0;
  width: 186px;
  display: flex;
  margin-left: 1px;
  margin-bottom: -11px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container__catalog .social__list {
  margin-top: -26px;
}

.aboutus {
  margin: 0;
  padding: 0;
  width: 330px;
  margin-left: 214px;
  margin-top: 9px;
  display: flex;
}

.produced__link-catalog {
  margin-top: 0;
}

/*justify-content: space-between;*/

.social__list.social__list-catalog {
  margin-top: -9px;
}

.container__catalog .aboutus {
  margin-top: -23px;
}

.aboutus.aboutus-catalog {
  margin-top: -3px;
}

.aboutus-documents {
  margin-left: 32px;
  margin-top: 4px;
}

.aboutus-documents a {
  margin-bottom: 2px;
}

.produced {
  margin-left: 225px;
}
.produced__catalog {
  margin-left: 222px;
}
.aboutus__html {
  margin-top: 13px;
  margin-bottom: -14px;
  margin-left: -2px;
  display: block;
  text-decoration: none;
}

/*Сетки footer close*/

/*Сетки close*/

/*Выпадающие окна в хэдере*/

.info__list-item {
  position: relative;
}

.info__list__item:last-child {
  margin-left: 4px;
}

.header-catalog-list {
  position: absolute;
  left: -5px;
  top: 30px;
  display: none;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog__list-link {
  font-size: 14px;
  line-height: 16px;
}

.info__list-item:hover .header-catalog-list {
  display: block;
}

.user-navigation__item {
  position: relative;
}

.form-search {
  position: absolute;
  left: -305px;
  top: 37px;
  display: none;
  box-sizing: border-box;
  padding: 20px 15px;
}

.user-navigation__item:hover .form-search {
  display: block;
}

.user-navigation__item {
  position: relative;
}

.login-form {
  position: absolute;
  display: none;
  left: -186px;
  top: 43px;
  padding: 0;
  padding-left: 21px;
  padding-top: 4px;
  box-sizing: border-box;
}

.user-navigation__item:hover .login-form {
  display: block;
}

.login-form__sub-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.login-form__email {
  margin-bottom: 7px;
}

.login-form__pass {
  margin-bottom: 20px;
}

.login-form__email,
.login-form__password {
  width: 225px;
  margin-right: 16px;
}

.user-navigation__item {
  position: relative;
}

.user-navigation__search {
  padding-bottom: 16px;
}

.basket-popup {
  position: absolute;
  display: none;
  left: -420px;
  top: 32px;
  max-width: 540px;
  z-index: 10;
}

.basket-popup.basket-popup-index {
  left: -440px;
  top: 46px;
}

.user-navigation__item:hover .basket-popup {
  display: block;
}

/*Выпадающие окна в хэдере close*/

.map__image {
  position: relative;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes bounce {
  from {
    transform: translateY(-1800px);
  }
  50% {
    transform: translateY(-1300px);
  }
  75% {
    transform: translateY(700px);
  }
  90% {
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup-show {
  display: block;
}

.popup-error {
  animation: shake 0.6s;
}
